<p style="font-weight:bold;">
  Utente: {{ name }}
  <br />
  <button (click)="exit()">Esci</button>
</p>

<div *ngIf="buttonsPlatea.length === 0">
  Impossibile caricare i posti in platea, o il teatro selezionato non ne
  possiede
</div>
<div *ngIf="buttonsPlatea.length !== 0">
  <li
    *ngFor="let fila of buttonsPlatea; let indiceFila = index"
    [attr.data-index]="indiceFila"
  >
    <button
      *ngFor="let posto of fila; let indicePosto = index"
      [disabled]="
        confirmDisabled || posto.substring(posto.indexOf('-')).length > 2
      "
      [attr.data-index]="indicePosto"
      [ngStyle]="{
        'background-color':
          postiPrenotati.indexOf(posto.substring(0, posto.indexOf('-'))) !== -1
            ? 'green'
            : posto.substring(posto.indexOf('-')).length > 2
            ? 'red'
            : 'grey',
        padding: '7px 16px',
        'white-space': 'normal'
      }"
      (click)="
        posto.substring(posto.indexOf('-')).length > 2
          ? warnPosto(posto)
          : addPostoPlatea(indiceFila, indicePosto)
      "
    >
      {{ posto }}
    </button>
    <br />
  </li>
</div>

<br />
<br />

<div *ngIf="buttonsPalchi.length === 0">
  Impossibile caricare i posti dei palchi, o il teatro selezionato non ne
  possiede
</div>
<div *ngIf="buttonsPalchi.length !== 0">
  <li
    *ngFor="let fila of buttonsPalchi; let indiceFila = index"
    [attr.data-index]="indiceFila"
  >
    <button
      *ngFor="let posto of fila; let indicePosto = index"
      [disabled]="
        confirmDisabled || posto.substring(posto.indexOf('-')).length > 2
      "
      [attr.data-index]="indicePosto"
      [ngStyle]="{
        'background-color':
          postiPrenotati.indexOf(posto.substring(0, posto.indexOf('-'))) !== -1
            ? 'green'
            : posto.substring(posto.indexOf('-')).length > 2
            ? 'red'
            : 'grey',
        padding: '7px 16px',
        'white-space': 'normal'
      }"
      (click)="
        posto.substring(posto.indexOf('-')).length > 2
          ? warnPosto(posto)
          : addPostoPalchi(indiceFila, indicePosto)
      "
    >
      {{ posto }}
    </button>
    <br />
  </li>
</div>

<br />
<br />

<p *ngIf="postiPrenotati.length !== 0">
  Stai per prenotare i seguenti posti:
  <li *ngFor="let posto of postiPrenotati">{{ posto }}</li>
  <br />
  <br />
  <button (click)="confirm()" [disabled]="confirmDisabled">Conferma</button>
</p>
