<head>
  <title>Progetto SSW</title>
</head>
<h1>Teatro SSW</h1>
<div id="teatri" *ngIf="showT === true">
  <li *ngFor="let teatro of getTeatri()">
    <button (click)="selectT(teatro.getId())">
      Teatro {{ teatro.getId() }} <br />
      {{ teatro.getSpettacolo() }}
    </button>
  </li>
</div>
<p id="requestPar" *ngIf="getSelection() !== undefined">
  Per prenotare posti al teatro {{ getSelection() }}, inserisci la chiave dello
  spettacolo:
  <input
    placeholder="Inserisci la chiave"
    #key
    (keyup.enter)="requestAccess(key.value)"
  />
</p>
<nominativo
  [visible]="showFormName"
  (nameEvent)="receiveName($event)"
></nominativo>
<prenotazione
  *ngIf="showPrenotazioni === true"
  [name]="getFormName()"
  [th]="getTeatroSel()"
  (prenotazioneEvent)="receivePrenotazione($event)"
></prenotazione>
