<head>
  <title>Progetto SSW</title>
</head>
<h1>Teatro SSW</h1>
<div id="teatri" *ngIf="showT === true">
  <li *ngFor="let teatro of getTeatri()">
    <button (click)="selectT(teatro.getId())">
      Teatro {{ teatro.getId() }} <br />
      {{ teatro.getSpettacolo() }}
    </button>
  </li>
  <br />
  <button *ngIf="showAddT" (click)="addTh()">+</button>
</div>

<p id="addThPar" *ngIf="showAddTPar">
  Per aggiungere un teatro, inserisci il segreto:
  <input
    placeholder="Inserisci il segreto"
    #key
    (keyup.enter)="inputSecret(key.value)"
  />
</p>
<div *ngIf="showThParams">
  <input
    *ngIf="showIdParam"
    size="150px"
    placeholder="Inserisci un id per il teatro"
    type="number"
    #key
    (keyup.enter)="showIdParam = false; getTeatroSel().setId(+key.value)"
  />
  <br />
  <input
    *ngIf="showTitleParam"
    size="150px"
    placeholder="Inserisci un titolo per lo spettacolo del teatro"
    #key
    (keyup.enter)="
      showTitleParam = false; getTeatroSel().setSpettacolo(key.value)
    "
  />
  <br />
  <input
    *ngIf="showFilePlParam"
    size="150px"
    placeholder="Inserisci il numero di file della platea"
    type="number"
    #key
    (keyup.enter)="
      showFilePlParam = false; getTeatroSel().setFilePlatea(+key.value)
    "
  />
  <br />
  <input
    *ngIf="showPostiPlParam"
    size="150px"
    placeholder="Inserisci il numero di posti della platea"
    type="number"
    #key
    (keyup.enter)="
      showPostiPlParam = false; getTeatroSel().setPostiPlatea(+key.value)
    "
  />
  <br />
  <input
    *ngIf="showFilePaParam"
    size="150px"
    placeholder="Inserisci il numero di file dei palchi"
    type="number"
    #key
    (keyup.enter)="
      showFilePaParam = false; getTeatroSel().setFilePalchi(+key.value)
    "
  />
  <br />
  <input
    *ngIf="showPostiPaParam"
    size="150px"
    placeholder="Inserisci il numero di posti dei palchi"
    type="number"
    #key
    (keyup.enter)="
      showPostiPaParam = false; getTeatroSel().setPostiPalchi(+key.value)
    "
  />
  <br />
  <br />
  <button [disabled]="!saveEnabled" (click)="saveTh()">Salva</button>
</div>
<p
  *ngIf="showMessagePar"
  [ngStyle]="{ color: messagePar.indexOf('Successo') !== -1 ? 'green' : 'red' }"
>
  {{ messagePar }}
</p>
<p id="requestPar" *ngIf="getSelection() !== undefined">
  Per prenotare posti al teatro {{ getSelection() }}, inserisci la chiave dello
  spettacolo:
  <input
    placeholder="Inserisci la chiave"
    #key
    (keyup.enter)="requestAccess(key.value)"
  />
</p>
<nominativo
  [visible]="showFormName"
  (nameEvent)="receiveName($event)"
></nominativo>
<prenotazione
  *ngIf="showPrenotazioni === true"
  [name]="getFormName()"
  [th]="getTeatroSel()"
  (prenotazioneEvent)="receivePrenotazione($event)"
></prenotazione>
