<head>
  <title>Progetto SSW</title>
</head>
<h1>Teatro SSW</h1>
<div id="teatri" *ngIf="showT === true">
  <li *ngFor="let teatro of teatri">
    <button (click)="selectT(teatro.getId())">
      Teatro {{ teatro.getId() }} <br />
      {{ teatro.getSpettacolo() }}
    </button>
  </li>
</div>
<p id="requestPar" *ngIf="selezione !== undefined">
  Per prenotare posti al teatro {{ selezione }},inserisci la chiave dello
  spettacolo:
  <input
    placeholder="Inserisci la chiave"
    #key
    (keyup.enter)="requestAccess(key.value)"
  />
</p>
<nominativo [visible]="showFormName"></nominativo>
<prenotazione [th]="teatroSel"></prenotazione>
